

*{box-sizing: border-box;
}
*{
    font-family: 'Brawler', serif;
}


.box {
   
    width: 1320px;
    height: 259px;
    margin: 10px;
    padding-top: 140px;
    padding-bottom: 5px;

}

h1{
    
    font-weight: bold;
    color:#43564B
    
  }

  h2{
    color: #BF86A2
   
  }


  body{
    background: #BF86A2
   
}

#tit {
  font-family: 'Libre Baskerville', serif;
  font-size: 35px;
  background: rgba(191,134,162,0.35) none repeat local 50% 50%;
}


.txt{
    
    Text-align: center;

}

.fondo-rosa{
  font-family: 'Libre Baskerville', serif;
  background-color:#43564B
}




header {
    background-image: url("1320400banner-blank-advertisement-announcement-concept.jpg"); background-repeat: no-repeat; object-fit: cover;
}


.contenedor {
    display: flex;
  }

.sobre {
     margin-right: 100px;
  }
  
#hab {
  font-family: 'Cinzel', serif; 
  font-size: 30px;
  font-weight: bold;
  text-align: center left;
  margin: auto;
}

#descripcion {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  text-align: center;
  
}

.circular--portrait{
    position: relative;
    overflow: clip;
    border-radius: 50%;
    
 }


.circular--portrait img {
    width: 80 px;
    height: 80px;
   
}





* {
  box-sizing: border-box
}

body {
  margin: 0;
}




.column {
  float: left;
  width: 33.33%;
  padding: 15px;
 
}


.row:after {
  content: "";
  display: table;
  clear: both;
  margin: 0%;
  
}

ul, li{
  margin:0 0 0 0;
  padding:0 0 0 0;
 }

/* Responsive  */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}



section {font-family: Arial;}


.tab {
  
  overflow: hidden;
  border: 1px solid rgb(81, 126, 81);
  background-color: #98C3AA
}


.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #627e69;
}


.tab button.active {
  background-color:  #43564B;
  background: -moz-linear-gradient(left, #43564B 0%, #BF86A2 100%);
  background: -webkit-linear-gradient(left, #43564B 0%, #BF86A2 100%);
  background: linear-gradient(to right, #43564B 0%, #BF86A2 100%);
}


.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #43564B;
  border-top: none;
}


#borderDemo {
  text-align: center;
  border: 3px double #43564B;
  
  }

  h4{
    font-weight: normal;
  }

  #colores_columnas {
    background-color:   #BF86A2;
    background: -moz-linear-gradient(45deg, #BF86A2 0%, #7EA28D 50%, #43564B 100%);
    background: -webkit-linear-gradient(45deg, #BF86A2 0%, #7EA28D 50%, #43564B 100%);
    background: linear-gradient(45deg, #BF86A2 0%, #7EA28D 50%, #43564B 100%);
  }

  

#info{
  background: #BF86A2;
background: -moz-linear-gradient(top, #BF86A2 0%, #86AC96 67%, #43564B 100%);
background: -webkit-linear-gradient(top, #BF86A2 0%, #86AC96 67%, #43564B 100%);
background: linear-gradient(to bottom, #BF86A2 0%, #86AC96 67%, #43564B 100%);
}

#contacto{
  background: #43564B;
background: -moz-linear-gradient(top, #43564B 0%, #86AC96 67%, #BF86A2 100%);
background: -webkit-linear-gradient(top, #43564B 0%, #86AC96 67%, #BF86A2 100%);
background: linear-gradient(to bottom, #43564B 0%, #86AC96 67%, #BF86A2 100%);
}

#redes {background:  #BF86A2;
  background: -moz-linear-gradient(top, #BF86A2 0%, #729280 67%, #BF86A2 100%);
  background: -webkit-linear-gradient(top, #BF86A2 0%, #729280 67%, #BF86A2 100%);
  background: linear-gradient(to bottom, #BF86A2 0%, #729280 67%, #BF86A2 100%);
  }


  #contenedor {
    font-family: 'Cinzel', serif; 
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    border: 5px double rgba(40,102,59,0.51);
    background: #D0E4F5 url("https://img.freepik.com/premium-photo/3d-rendering-abstract-background-basis-plexus_232104-222.jpg") repeat local 2px -8px; opacity: 0.7;
  }

.ventana {
    background:  #D0E4F5 url("https://img.freepik.com/premium-photo/3d-rendering-abstract-background-basis-plexus_232104-222.jpg") repeat local 2px -8px; opacity: 0.9;
    width: 50%;
    color: black; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding:33px;
    min-height: 250px;
    border-radius: 22px;
    position: absolute; 
    left: 25%;
    top:30%;
    display: none;

}
#cerrar {
    position: absolute;
    top: 3px;
    right: 3px;

}


textarea {
 
  font: 1em sans-serif;

 
  width: 500px;
  box-sizing: border-box;

  
  border: 1px solid #999;
}



textarea {
  
  vertical-align: top;

  height: 5em;
}

#para_mensaje {
  font-family: 'Cinzel', serif; 
  font-size: 30px;
  font-weight: bold;
  text-align: center left;
  margin: auto;
  color: black;
}

#título_popup {
  color: #882354;
  background-color: rgb(154, 247, 204)

}

 
 #email {
  align-content: center;
 }

 #profe {

  font-size: 35px;
 }

 .dentro {
  border-bottom: 2px solid #000000;
}
 